body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 228, 196);
    font-size: 15px;
    text-align: left;
}



img{
    width: 120px;
}

p{
    font-size: 20px;
}




